*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 2rem 0rem;
}

.navbar ul li{
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 0.8rem 2.5rem;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 1rem white;
}

/* Home Section */ 
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 84rem ;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('img/code.webp') no-repeat center center/cover;
    height: 90rem;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 4rem 0rem;
}
.btn{
    padding: 1rem 3.5rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 0.5rem white, 0 0 1rem white, 0 0 1.5rem white;
    font-weight: bold;
}

/* About section */ 
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5rem;
    margin-bottom: 5rem;
    font-family: sans-serif;
}
#pic{
    display: flex;
}
#pic img{
    width: 55rem;
    height: 65rem;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 5rem;
    font-size: 1.5rem;
}
#intro h2{
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* portfolio section */
#portfolio{
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    align-items: center;
    padding: 2rem;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 36rem;
    height: 24rem;
    margin: 1rem;
}

/* service section */
 #services{
     display: flex;
     flex-direction: column;
     padding: 2rem;
 }

 .row{
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     box-sizing: border-box;
 }
     .box{
     flex-direction: column;
     width: 35rem;
     height: 45rem;
     border: 1px solid black;
     margin: 1rem;
     align-items: center;
     text-align: justify;
     font-family: sans-serif;
     padding: 1rem;
     border-radius: 1.5rem;
     background: linear-gradient(to top, rgb(255,45,45 ) 50%, white 50%);
     background-size: 100% 200%;
     transition: all .8s;
     }
     .box:hover{
         background-position: left bottom;
         color: white;
         border: none;
         box-shadow: 0 0 2rem rgb(255,45,45 );
     }

    .box img{
        width: 8rem;
        height: 8rem;
        padding: 1rem;
    }

    /* contact section */
     #contact{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0.9);
        color: white;
        padding: 2rem;
        font-family: sans-serif;
     }
     .form{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        align-items: center;
        margin: 2rem 0rem;
     }
     .input{
        padding: 1.2rem;
        margin: 1.5rem;
        width: 30%;
        border: none;
        outline: none;
     }
     #msg{
        width: 20%;
        padding: 1rem;
        margin: 1.5rem;
        border: none;
        outline: none;
        font-family: sans-serif;
     }
     #send{
        padding: 1rem;
        width: 10%;
        margin: 4rem;
        border: none;
        outline: none;
     }
     #send:hover{
        cursor: pointer;
        box-shadow: 0 0 1rem white;
     }

     /* reviews */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

     body{
        font-size: 1.5rem;
        font-family: sans-serif;
    }

     .arrow{
        width: 10%;
        background: white;
        font-size: 400%;
        outline: none;
        border: none;
        cursor: pointer;
    }
    
    .reviews{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 5rem;
        width: 100%;
        flex-wrap: wrap;
        padding-top: 5rem;
    }
    
    .review{
        width: 30rem;
        min-width: 20rem;
        list-style: none;
        padding: 4rem;
        border-radius: 0.5rem;
        box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2),
        inset 0 -1rem 1rem -1rem rgba(0, 0, 0, 0.1);
        position: relative;
        animation-name: fadein;
        animation-duration: 0.8s;
    
        
    }
    
    .review:nth-of-type(4), .review:nth-of-type(5), .review:nth-of-type(6){
        display: none;
    }
    
    .quote{
        font-size: 500%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        line-height: 0.5;
    }
    
    .stars{
        color: gold;
    }
    
    .review p{
        font-size: 100%;
        font-style: italic;
        padding-bottom: 5rem;
        border-bottom: 0.5rem solid rgba(0, 0, 0, 0.2);
    }
    


    .btn{
        display: inline-block;
        background: #1F4690;
        color: white;
        border-radius: 0.5rem;
        padding: 0.8rem 3rem;
        margin: 3rem 0;
        transition: background 0.75s;
        text-decoration: none;
    }
    
    .btn:hover{
        background: #e5e9e8;
    }
    
    .container{
        max-width: 130rem;
        margin: auto;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        
        
    }
    
    p{
    
        color:rgb(77, 77, 77);
        color:black;
        font-size: 1.6rem
    }
    
    
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    
    }
    
    
    .col-3{
        flex-basis:30% ;
        min-width: 25rem;
        margin-bottom: 3rem;
        border-radius: 5%;
    }
    
    .col-3 img{
        width: 100%;
    }
    
    .small-container{
        max-width: 108rem;
        margin: auto;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    
    .testimonial{
        padding-top: 10rem;
    }
    
    .testimonial .col-3{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 4rem 2rem;
        box-shadow: 0 0 2rem 0rem rgba(0, 0, 0, 0.1);
        transition: transform 0.5s;
        min-height: 45rem;
    }
    
    
    .testimonial .col-3:hover{
        transform: translateY(-1rem);
    }
    .fa.fa-quote-left{
        font-size: 3.4rem;
        color: #ff523b;
    }
    
    .programmers-img  {
        width: 20rem;
        height: 20rem;
        background-size: 100% 100%;
        background-size: cover;
    }
    
    .details-img  {
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
    
    }
    
    .col-3 p{
        font-size: 1.2rem;
        margin: 1.2rem 0;
        color: var(--p);
    }
    
    .testimonial .col-3 h3{
        font-weight: 600;
        color: var(--p);
        font-size: 1.6rem;
    }
    
    
    
    

    @keyframes fadein{
        from{
            opacity: 0;
            filter: blur(1rem);
        }
        to{
            opacity: 1;
            filter: blur(0);
        }
    }
    
    @media  screen and (max-width :50rem) {
        .arrow{
            display: none;
        }
        .reviews{
            width: 100%;
        }
    }